html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.row {
  display: flex; /* equal height of the children */
  justify-content: left;
  align-items: flex-start;
}

.col {
  flex: 1; /* additionally, equal width */
  max-width: 50%;
  padding: 1em;
 
}

.bord {
	border: solid;
}